.portugues {
	display:none;
}

/*BACKGROUND*/
.blueBG {
	background-color: #84b5f1;
}
.darkBlueBG {
  background-color: #1a5193;
  color: white;
}
.darkBG {
  background-color: #222222;
  color: white;
}


hr {
  border-color: white;
  border-width: 2px;
  max-width: 200px;
}

hr.dark {
  border-color: black;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

section {
  padding: 100px 0;
}

/*NAVBAR*/
.navbar-default {
  background-color: #1a5193;
  //color: white;
  border-color: rgba(34, 34, 34, 0.05);
}
.navbar-default .navbar-header .navbar-brand {
	color: white;
	font-weight: 600;
	text-transform: smallcaps;
	font-size: 24px;	
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: grey;

}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  background-color: #84b5f1;
  color: white;
}

.navbar-default .nav > .active > a,
.navbar-default .nav > .active > a:hover,
.navbar-default .nav > .active > a:focus {
    //background-color:transparent;
    //color: #cddff2;
}

@media (min-width: 768px) {
	.navbar {
		background: transparent;
	    -webkit-transition: all 0.6s ease-out;
	    -moz-transition: all 0.6s ease-out;
	    -o-transition: all 0.6s ease-out;
	    -ms-transition: all 0.6s ease-out;
	    transition: all 0.6s ease-out;
	}

	.navbar.scrolled {
	    background: #1a5193;
	}

	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus,
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
		background-color: transparent;
		color: white
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		background-color: transparent;
		color: grey;
	}
	.navbar-default .nav > .active > a,
	.navbar-default .nav > .active > a:hover,
	.navbar-default .nav > .active > a:focus {
	    background-color:transparent;
	    color: #84b5f1;
	}

}

/*HEADER*/
header {
	position: relative;
	width: 100%;
	min-height: auto;
	background-size: cover;
	background-position: center;
	background-image: url('../resources/header.jpg');
	text-align: center;
	color: white;
	}
header .header-text {
	position: relative;
	text-align: center;
	padding: 250px 100px 200px 100px;
	width: 100%;
}
header .header-content .header-text h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 50px;
}

header .header-content .header-text hr {
  margin: 30px auto;
}

header .header-content .header-text p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
 }

 /*SECURIS*/
#securis {
	position: relative;
	width: 100%;
	min-height: auto;
	background-size: cover;
	background-position: center;
	background-image: url('../resources/travel.jpg');
	text-align: center;
	color: white;
}
@media (min-width: 768px) {
  #securis {
    min-height: 100%;
  }
 }







/*TEAM*/
.team-member{text-align:center;margin-bottom:50px}
.team-member img{margin:0 auto;border:7px solid black}
.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}
.team-member p{margin-top:0}aside

.award{text-align:center;margin-bottom:50px; }
.award img{margin: 0 auto;padding: 15px 0 15px 0;
}

/*CONTACTS*/
#contact h3 a{
	color: #f48942;
}

.social-media a {
	display:block;
	height:80px;
	width:80px;
	line-height:80px;
	font-size:40px;
	border-radius:100%;
	color:white;
}

#twitter a{background-color:#1da1f2}
#twitter a:hover{background-color:#0d95e8}
#facebook a{background-color:#3b5998}
#facebook a:hover{background-color:#344e86}
#google-plus a{background-color:#dd4b39}
#google-plus a:hover{background-color:#d73925}